﻿@model TesTechnical.Models.ListEmployee

@{
    ViewData["Title"] = "Create";
}


<h4>Form Input Data Karyawan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            @*<div class="form-group">
            <label asp-for="Nik" class="control-label">NIK</label>
            <input asp-for="Nik" class="form-control" />
            <span asp-validation-for="Nik" class="text-danger"></span>
        </div>*@

        <div class="row form-group">
            <label asp-for="Nik" class="col-sm-3 control-label">NIK</label>
            <div class="col-sm-9">
                <input asp-for="Nik" class="form-control" />
                <span asp-validation-for="Nik" class="text-danger"></span>
            </div>

        </div>
        <div class="row form-group">
            <label asp-for="Nama" class="col-sm-3 control-label">Nama</label>
            <div class="col-sm-9">
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="Alamat" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="Alamat" class="form-control" />
                <span asp-validation-for="Alamat" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="TanggalLahir" class="col-sm-3 control-label">Tanggal Lahir</label>
            <div class="col-sm-9">
                <input asp-for="TanggalLahir" class="form-control" />
                <span asp-validation-for="TanggalLahir" class="text-danger"></span>
            </div>
        </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="JenisKelamin" /> @Html.DisplayNameFor(model => model.JenisKelamin)
            </label>
        </div>*@

            <div class="form-group">
                Jenis Kelamin
                <input type='radio' asp-for="JenisKelamin" value='Pria' />Pria
                <input type='radio' asp-for="JenisKelamin" value='Perempuan' />Perempuan
            </div>
            <div class="row form-group">
                <label asp-for="Departemen" class="col-sm-3 control-label"></label>
                @*<input asp-for="Departemen" class="form-control" />*@
            <div class="col-md-9">
                <select class="form-control" id="Departemen" name="Departemen" required oninvalid="this.setCustomValidity('Data Tidak Boleh Kosong')"
                        oninput="setCustomValidity('')">
                    <option selected>--Pilih Departemen--</option>
                    <option value="IT">IT</option>
                    <option value="Human Resource">Human Resource</option>
                    <option value="Finance">Finance</option>
                    <option value="Logistic">Logistic</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Production">Production</option>
                </select>
                <span asp-validation-for="Departemen" class="text-danger"></span>
            </div>
            </div>
            <div class="row form-group">
                <label asp-for="Jabatan" class="col-sm-3 control-label"></label>
                @*<input asp-for="Jabatan" class="form-control" />*@
                <div class="col-md-9">
                    <select class="form-control" id="Jabatan" name="Jabatan" required oninvalid="this.setCustomValidity('Data Tidak Boleh Kosong')"
                            oninput="setCustomValidity('')">
                        <option selected>--Pilih Jabatan--</option>
                        <option value="Head of IT">Head of IT</option>
                        <option value="Manager">Manager</option>
                        <option value="Ass. Manager">Ass. Manager</option>
                        <option value="Team Leader">Team Leader</option>
                    </select>
                    <span asp-validation-for="Jabatan" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Cancel" class="btn btn-warning" />
        </div>*@
            <div class="modal-footer" col-4 col-sm-6>
                <button id="btn_submit" type="submit" class="btn btn-primary" style="background-color:green">Simpan</button>
                <button id="button" class="btn" data-dismiss="modal" style="background-color:red; color:white">Batal</button>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
