﻿@model TesTechnical.Models.ListEmployee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ListEmployee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nik)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departemen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departemen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jabatan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jabatan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
