﻿@model TesTechnical.Models.ListEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisKelamin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departemen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departemen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jabatan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jabatan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
