﻿@model IEnumerable<TesTechnical.Models.ListEmployee>

@{
    ViewData["Title"] = "Index";
}

<h3>Form List Data Karyawan</h3>

<p>
    <a asp-action="Create">
        <button id="btn_submit" type="submit" class="btn btn-primary" style="background-color:green">Add</button>
        @*<a asp-action="Create">Create New</a>*@
    </a>
</p>
<link rel="stylesheet" type="text/css" href="TesTechnical/wwwroot/css">

<table class="table" id="example">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Nik)
            </th>
            <th>
                @*@Html.ActionLink("Nama", "Index", new { sortOrder = ViewBag.NameSortParm })*@
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JenisKelamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departemen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jabatan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanggalLahir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JenisKelamin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departemen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jabatan)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf8" src="/TesTechnical/wwwroot/js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script> 