﻿@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-transparent mb-0"><h5 class="text-center"><span class="font-weight-bold text-primary">Form Login</span></h5></div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" id="email" class="form-control" placeholder="Email example: email@gmail.com">
                            <em id="notifEmail" class="invalid-feedback">* please fill email</em>
                            <em id="notifConfirmEmail" class="invalid-feedback">* email format wrong</em>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" class="form-control" placeholder="Password">
                            <em id="notifPassword" class="invalid-feedback">* please fill password</em>
                        </div>
                        <div class="form-group">
                            <em id="alertfailed" class="invalid-feedback"></em>
                        </div>
                        <div class="form-group">
                            <button type="button" id="login-btn" name="" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>

        (function ($) {
            'use strict';

            $(document).ready(function () {

                $("#email").change(function () {
                    validate();
                });

                $("#password").change(function () {
                    validate();
                });

                $('#login-btn').click(function () {
                    $('#login-btn').prop("disabled", true);
                    if (validate()) {
                        login();
                    } else {
                        $('#login-btn').prop("disabled", false);
                        return false;
                    }
                });

            });

            function validate() {
                let valid = 0;
                if ($("#email").val().trim() === "") {
                    $("#email").addClass("is-invalid");
                    $("#notifEmail").show();
                    $("#notifConfirmEmail").hide();
                    valid++;
                } else if ($("#email").val().trim() != "") {
                    $("#email").removeClass("is-invalid");
                    $("#notifEmail").hide();
                    if (!validateEmail($("#email").val().trim())) {
                        $("#email").addClass("is-invalid");
                        $("#notifConfirmEmail").show();
                        valid++;
                    } else {
                        $("#email").removeClass("is-invalid");
                        $("#notifConfirmEmail").hide();
                    }

                }

                if ($("#password").val().trim() === "") {
                    $("#password").addClass("is-invalid");
                    $("#notifPassword").html("* please fill password");
                    $("#notifPassword").show();
                    valid++;
                } else if ($("#password").val().trim() != "") {
                    $("#password").removeClass("is-invalid");
                    $("#notifPassword").hide();

                    if (validatePassword($("#password").val().trim())) {
                        $("#password").removeClass("is-invalid");
                        $("#notifPassword").hide();
                    } else {
                        $("#notifPassword").html("* Password must be a combination of upper case, lower case, number, and at least 8 characters long.");
                        $("#notifPassword").show();
                        valid++;
                    }
                }

                return valid > 0 ? false : true;
            }

            function validatePassword(password) {
                var regex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})");
                let result = regex.test(password);
                return result;
            }

            function validateEmail(email) {
                var regex = new RegExp(/^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/);
                let result = regex.test(email);
                return result;
            }

            function login() {
                var model = {
                    email: $("#email").val().trim(),
                    password: $("#password").val().trim()
                }
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Login", "Auth")',
                    contentType: 'application/json',
                    data: JSON.stringify(model),
                    dataType: 'JSON',
                    success: function (data) {
                        if (data != null) {
                            if (data.Status === 0) {
                                window.location.href = '@Url.Action("Index", "Home")';
                            } else {
                                $("#alertfailed").html(data.Message);
                                $("#alertfailed").show();
                                $('#login-btn').prop("disabled", false);
                            }
                        }
                        $('#login-btn').prop("disabled", false);
                    },
                    fail: function () {
                        $("#alertfailed").html("Failed Login! Please Try Again Later");
                        $("#alertfailed").show();
                    },
                    error: function () {
                        $("#alertfailed").html("Failed Login! Please Try Again Later");
                        $("#alertfailed").show();
                    }
                });
            }

        })(window.jQuery);

    </script>

</body>
</html>
